* {
    font-family: 'VT323';
}

/* ul, p {
    margin: 0;
} */

p, ul {
    margin: 0;
}

body {
    background-color: rgb(255, 60, 92);
}

#fetchPanel {
    text-align: center;
    margin-top: 20px;
}

#pokemonName, #fetchBtn {
    font-size: 20px;
    padding: 5px 10px;
    border: 3px solid black;
    border-radius: 10px;
}

#pokemonName {
    text-align: center;
    width: 175px;
}

#fetchBtn {
    background-color: rgb(111, 178, 255)
}

.rightPanelHeadings {
    margin-top: 15px;
}

#pokemonInfo {
    display: flex;
    justify-content: center;
    background-image: url(imgs/background.jpg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    margin: 16px auto;
    padding: 33px;
    max-width: 350px;
    border: 4px solid black;
    border-radius: 33px;
    overflow: hidden;
}

#pokemonSprite {
    object-fit: cover;
    transform: scale(1.6);
}

#leftPanel, #rightPanel {
    font-size: 20px;
}

@media screen and (min-width: 675px) {
    #fetchPanel {
        margin-top: 33px;
    }
    #pokemonName, #fetchBtn {
        font-size: 28px;
        padding: 8px 24px;
    }
    #pokemonName {
        width: 225px;
    }
    #leftPanel, #rightPanel {
        font-size: 28px;
        padding: 20px;
    }
    #pokemonInfo {
        max-width: 600px;
        margin: 33px auto;
        padding: 33px;
        border: 8px inset black;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}



