* {
    font-family: 'VT323';
}

/* ul, p {
    margin: 0;
} */



#fetchPanel {
    text-align: center;
    margin-top: 33px;
}

#pokemonName, #fetchBtn {
    font-size: 24px;
    padding: 5px 20px;
}

#pokemonInfo {
    width: 500px;
    margin: 33px auto;
    padding: 33px;
    border: 4px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#leftPanel, #rightPanel {
    padding-left: 40px;
    
}



