* {
    font-family: 'VT323';
    transition: 0.1s ease;
}

body {
    background-color: rgb(255, 60, 92);
}

p, ul {
    margin: 0;
}

li {
    list-style-type: disclosure-closed;
}

#appArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
} 

#fetchPanel {
    text-align: center;
    margin-top: 20px;
}

#pokemonName, #fetchBtn {
    font-size: 20px;
    padding: 5px 7px;
    border: 4px outset rgb(122, 122, 122);
    border-radius: 10px;
}

#pokemonName {
    text-align: center;
    width: 200px;
}

#fetchBtn {
    width: 133px;
    background-color: rgb(96, 169, 253);
    cursor: pointer;
}

#fetchBtn:hover {
    background-color: rgb(44, 143, 255)
}

#fetchBtn:active {
    border-style: inset;
}

.rightPanelHeadings {
    margin-top: 15px;
}

#pokemonInfo {
    display: flex;
    justify-content: center;
    background-image: url(imgs/background.jpg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    margin: 16px auto;
    padding: 33px;
    max-width: 350px;
    border: 4px solid black;
    border-radius: 33px;
    overflow: hidden;
}

#leftPanel, #rightPanel {
    font-size: 20px;
}

@media screen and (min-width: 750px) {
    #appArea {
        width: 750px;
    }
    #fetchPanel {
        margin-top: 33px;
    }
    #pokemonName, #fetchBtn {
        font-size: 28px;
        padding: 8px 20px;
    }
    #pokemonName {
        width: 300px;
    }
    #fetchBtn {
        width: 225px;
    }
    #leftPanel, #rightPanel {
        font-size: 28px;
        padding: 28px;
    }
    #leftPanel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #pokemonInfo {
        max-width: 750px;
        margin: 33px auto;
        padding: 33px;
        border: 8px inset rgb(117, 117, 117);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}



